In [1]:
import pandas as pd

In [2]:
books = pd.read_csv("dataset/Books.csv")

c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings = pd.read_csv("dataset/Ratings.csv")

In [5]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
print(len(books["ISBN"].unique()), len(ratings))

271360 1149780

In [7]:
books = books[["ISBN","Book-Title","Book-Author","Publisher","Image-URL-L"]]

In [8]:
books = books.rename(columns={
    "Book-Title": "title",
    "Book-Author": "author",
    "Publisher":"publisher",
    "Image-URL-L":"img_url"
})

In [9]:
numNullISBN = books['ISBN'].isnull().sum()
numNullTitle = books['title'].isnull().sum()
numNullAuthor = books['author'].isnull().sum()
numNullPublisher = books['publisher'].isnull().sum()
numNullimg = books['img_url'].isnull().sum()

print("the number null of numNullISBN column is:",numNullISBN)
print("the number null of numNullTitle column is:",numNullTitle)
print("the number null of numNullAuthor column is:",numNullAuthor)
print("the number null of numNullPublisher column is:",numNullPublisher)
print("the number null of numNullimg column is:",numNullimg)

the number null of numNullISBN column is: 0
the number null of numNullTitle column is: 0
the number null of numNullAuthor column is: 1
the number null of numNullPublisher column is: 2
the number null of numNullimg column is: 3

In [10]:
books['author'] = books['author'].fillna("unknow")
books['publisher'] = books['publisher'].fillna("unknow")
books['img_url'] = books['img_url'].fillna("unknow")

In [11]:
numNullISBN = books['ISBN'].isnull().sum()
numNullTitle = books['title'].isnull().sum()
numNullAuthor = books['author'].isnull().sum()
numNullPublisher = books['publisher'].isnull().sum()
numNullimg = books['img_url'].isnull().sum()

print("the number null of numNullISBN column is:",numNullISBN)
print("the number null of numNullTitle column is:",numNullTitle)
print("the number null of numNullAuthor column is:",numNullAuthor)
print("the number null of numNullYear column is:",numNullPublisher)
print("the number null of numNullimg column is:",numNullimg)

the number null of numNullISBN column is: 0
the number null of numNullTitle column is: 0
the number null of numNullAuthor column is: 0
the number null of numNullYear column is: 0
the number null of numNullimg column is: 0

In [12]:
ratings = ratings.rename(columns = {
    "User-ID":"user_id",
    "Book-Rating": "rating"
})

In [13]:
numNullISBN = ratings['ISBN'].isnull().sum()
numNullUser_id = ratings['user_id'].isnull().sum()
numNullRating = ratings['rating'].isnull().sum()

print("the number null of numNullISBN column is:",numNullISBN)
print("the number null of numNullUser_id column is:",numNullUser_id)
print("the number null of numNullRating column is:",numNullRating)

the number null of numNullISBN column is: 0
the number null of numNullUser_id column is: 0
the number null of numNullRating column is: 0

In [14]:
ratings["ISBN"].value_counts()

0971880107    2502
0316666343    1295
0385504209     883
0060928336     732
0312195516     723
              ...
0307602923       1
1879373254       1
0130122157       1
3442164397       1
079382379X       1
Name: ISBN, Length: 340556, dtype: int64

In [15]:
ratings.loc[ratings["ISBN"] == "0971880107"]

         user_id        ISBN  rating
457       276925  0971880107       0
625       276939  0971880107       0
650       276954  0971880107       0
812       277042  0971880107       2
965       277157  0971880107       0
...          ...         ...     ...
1145922   275793  0971880107       0
1148069   276113  0971880107       7
1148097   276147  0971880107       0
1148806   276487  0971880107       0
1149298   276641  0971880107       0

[2502 rows x 3 columns]

In [16]:
ratings["ISBN"].shape

(1149780,)

In [17]:
ratings = ratings.groupby("ISBN")["rating"].mean().reset_index()

In [36]:
ratings = ratings[ratings['rating'] > 9]

In [37]:
ratings = ratings.drop_duplicates(subset=["ISBN"], keep=False)

In [38]:
len(ratings)

17543

In [39]:
rating_with_book = ratings.merge(books, on="ISBN")

In [40]:
rating_with_book.shape

(13771, 6)

In [54]:
rating_with_book['id'] = rating_with_book.reset_index().index

In [55]:
rating_with_book.head()

,ISBN,rating,title,author,publisher,img_url,info,id
0,0001360469,10.0,Babe Dressing,Mandy Stanley,HarperCollins Publishers,http://images.amazon.com/images/P/0001360469.0...,Babe DressingMandy StanleyHarperCollins Publis...,0
1,0001374869,10.0,Baby Plays (Collins Baby and Toddler Series),Fiona Pragoff,HarperCollins Publishers,http://images.amazon.com/images/P/0001374869.0...,Baby Plays (Collins Baby and Toddler Series)Fi...,1
2,0001821326,10.0,Paddington at the Tower (A Paddington Picture ...,Michael Bond,Collin,http://images.amazon.com/images/P/0001821326.0...,Paddington at the Tower (A Paddington Picture ...,2
3,0001845039,10.0,The Moon of Gomrath,Alan Garner,HarperCollins Publishers,http://images.amazon.com/images/P/0001845039.0...,The Moon of GomrathAlan GarnerHarperCollins Pu...,3
4,0001857258,10.0,Little Wolf's Book of Badness,Ian Whybrow,Collins,http://images.amazon.com/images/P/0001857258.0...,Little Wolf's Book of BadnessIan WhybrowCollins,4

In [42]:
rating_with_book['info'] = rating_with_book['title']+rating_with_book['author']+rating_with_book["publisher"]

In [43]:
rating_with_book.head()

,ISBN,rating,title,author,publisher,img_url,info
0,0001360469,10.0,Babe Dressing,Mandy Stanley,HarperCollins Publishers,http://images.amazon.com/images/P/0001360469.0...,Babe DressingMandy StanleyHarperCollins Publis...
1,0001374869,10.0,Baby Plays (Collins Baby and Toddler Series),Fiona Pragoff,HarperCollins Publishers,http://images.amazon.com/images/P/0001374869.0...,Baby Plays (Collins Baby and Toddler Series)Fi...
2,0001821326,10.0,Paddington at the Tower (A Paddington Picture ...,Michael Bond,Collin,http://images.amazon.com/images/P/0001821326.0...,Paddington at the Tower (A Paddington Picture ...
3,0001845039,10.0,The Moon of Gomrath,Alan Garner,HarperCollins Publishers,http://images.amazon.com/images/P/0001845039.0...,The Moon of GomrathAlan GarnerHarperCollins Pu...
4,0001857258,10.0,Little Wolf's Book of Badness,Ian Whybrow,Collins,http://images.amazon.com/images/P/0001857258.0...,Little Wolf's Book of BadnessIan WhybrowCollins

In [64]:
import pickle
with open("rating_with_book.pkl","wb") as file:
    pickle.dump(rating_with_book, file)

In [44]:
from sklearn.feature_extraction.text import CountVectorizer

In [47]:
vec = CountVectorizer(max_features=15000, stop_words='english')
embed = vec.fit_transform(rating_with_book['info'].values.astype('U')).toarray()

In [49]:
embed.shape

(13771, 15000)

In [50]:
embed[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [65]:
import pickle
with open("embeding.pkl","wb") as file:
    pickle.dump(embed, file)

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

In [52]:
matrix_sim = cosine_similarity(embed)

In [53]:
matrix_sim

array([[1.        , 0.17407766, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.17407766, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.16666667],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.16666667, 0.        ,
        1.        ]])

In [56]:
def recommend(name):
    try:
        i = rating_with_book[rating_with_book['title'].str.contains(name, case=False, na=False)].iloc[0]['id']
        distance = sorted(list(enumerate(matrix_sim[i])), reverse=True ,key=lambda embed:embed[1])
        recommend = []
        for j in range(6):
            recommend.append(rating_with_book[rating_with_book['id'] == distance[j][0]]['title'].values)
        return name, recommend
    except:
        return "This name isn't match with dataset", []

In [57]:
import pickle

In [58]:
with open('matrix_similar.pkl','wb') as file:
    pickle.dump(matrix_sim, file)

In [61]:
target, list_recommend = recommend('Babe Dressing')

In [62]:
print('Target', list_recommend[0])
print("The books were recommended of system")
for i in list_recommend:
    print(i)

Target ['Babe Dressing']
The books were recommended of system
['Babe Dressing']
['Tarot']
['Heartland']
['Guillaume Chequespierre']
['Calculus']
['The Burrowers Beneath']